# IMPORTANT: COPY THIS FILE TO .env AND CHANGE ALL VALUES FOR PRODUCTION USE
# ---------------------------------------------------

# PostgreSQL Connection
POSTGRES_USER=infrapilot
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=infrapilot_db

# Backend config
# If using Docker, the host should be 'db' instead of 'localhost'
DATABASE_URL=postgresql://infrapilot:your_secure_password@localhost:5432/infrapilot_db?schema=public
JWT_SECRET=your_long_random_jwt_secret
CREDENTIAL_ENCRYPTION_KEY=64_character_hex_key_for_aes_256_encryption
DEFAULT_ADMIN_PASSWORD=your_admin_password
DEFAULT_EDITOR_PASSWORD=your_editor_password
REGISTRATION_SECRET=your_registration_secret_key

# Frontend config
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# PgAdmin config
PGADMIN_DEFAULT_EMAIL=admin@infrapilot.local
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password
