{
	default_sni {$APP_HOST}
}

{$APP_HOST} {
	tls internal

	handle /api/* {
		reverse_proxy backend:3001
	}

	handle {
		reverse_proxy frontend:3000
	}
}

:80 {
	redir https://{host}{uri} permanent
}
